#calendar-container .today {
  background:  var(--background-primary-alt);
  color: var(--text-a);
}

#calendar-container .day.active {
  background:  var(--interactive-accent);
  color: #00007f;
}

#calendar-container .day.today.active {
  color: var(--text-a);
  font-weight: bold;
  text-shadow: 1px 1px rgba(0,0,127,0.5);
}
