/* ====== Fancy Tags ======== */

.frontmatter-section-tags .tag:not(.token)::after {
	content: '🔖';
}

/* TYPE tags */

.frontmatter-section-tags .tag:not(.token)::before {
  text-shadow: none !important;
}

.frontmatter-section-tags .tag[href^='#Article']::before {
  content: '📰';
}

.frontmatter-section-tags .tag[href^='#DailyNote']::before,
.frontmatter-section-tags .tag[href^='#Note']::before {
  content: '📝';
}

.frontmatter-section-tags .tag[href^='#Definition']::before {
  content: '📖';
}

.frontmatter-section-tags .tag[href^='#Person']::before {
  content: '🧑';
}

.frontmatter-section-tags .tag[href^='#Sermon']::before {
  content: '✝️';
}

.frontmatter-section-tags .tag[href^='#Article']::after,
.frontmatter-section-tags .tag[href^='#DailyNote']::after,
.frontmatter-section-tags .tag[href^='#Definition']::after,
.frontmatter-section-tags .tag[href^='#Note']::after,
.frontmatter-section-tags .tag[href^='#Person']::after,
.frontmatter-section-tags .tag[href^='#Sermon']::after,
.frontmatter-section-tags .tag[href^='#Task']::after {
  content: '';
}
