.image-embed[alt]:after {
  content: attr(alt);
  display: block;
  margin: 0.2rem 20pt auto;
  font-size: 90%;
  line-height: 1.4;
  color: var(--text-faint);
  text-align: center;
}

.markdown-preview-view .image-embed img {
  margin-bottom: 0;
}
