/* WIDTH of content */
.markdown-source-view.is-readable-line-width .CodeMirror,
.markdown-preview-view.is-readable-line-width .markdown-preview-section {
max-width: 70vmax; /* 1vmax = 1% of the larger dimension*/
margin-left: auto;
margin-right: auto;
}
